.body-footer {
    background-color:var(--grisClaro);
    margin: 0px;
    font-size: var(--cuerpo-de-t);
    text-align: center;
}

.body-footer section h4{
    
}
.body-footer section i {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1em;
    width: 1em;
    color: var(--celeste);
}

.body-footer section p {
    text-align: center;
    font-size: var(--cuerpo-de-t);
    font-weight: lighter;
    margin-top: 10px;
    font-size: var(--cuerpo-de-t);
}